{# dir: layouts #}
{# included in admin\layouts\header #}
<nav id="nav">
    <ul id="menu">
        <li>
            {{ CHtml.link('Пользователи', 'admin/users')|raw }}
            <ul>
                <li>{{ CHtml.link('Добавить', 'admin/addusers')|raw }}</li>
            </ul>
        </li>
        <li>{{ CHtml.link('Профиль', 'user/profile')|raw }}
            <ul>
                <li>{{ CHtml.link('Редактировать', 'user/')|raw }}</li>
                <li><a href="#">Мои события</a></li>
                <li>{{ CHtml.link('Мои друзья', 'user/')|raw }}</li>
            </ul>
        </li>
        <li><a href="#">Новости</a></li>
        <li><a href="#">События</a>
            <ul>
                <li><a href="#">Ближайшие</a></li>
                <li><a href="#">Прошедшие</a></li>
            </ul>
        </li>
        {% if CApp.app().isGuest %}
            <li>{{ CHtml.link('Войти', 'site/login')|raw }}</li>
            <li>{{ CHtml.link('Регистрация', 'site/registration')|raw }}</li>
        {% else %}
            <li>{{ CHtml.link('Выйти', 'user/logout')|raw }}</li>
        {% endif %}
    </ul><!-- menu -->
</nav><!-- nav -->
            